@media (min-width:768px){
#dataTables-CustInfo.table>thead>tr>th{
letter-spacing:1px;	
background-color:#fff !important;
 line-height:2 !important; 
 font-family:Helvetica Neue Bold !imporatnt;
 font-weight:600 !important;
 border:1px solid #efefef;
 border-left:none;
 text-align:center;
 vertical-align:middle;
}
/* #dataTables-CustInfo.table>thead>tr>th:last-child{
	padding-left:45px !important;
	padding-right:45px !important;
	width:99px !important;
} */
  
}
 .paginate_button.next a{
 background-color:#d95347 !important;
  color: #fff !important;
   border-top-left-radius: 2px !important; 
   border-top-right-radius: 0px !important;
     border-bottom-right-radius: 0px !important;
      border-bottom-left-radius: 2px !important;
 }
 .paginate_button.previous a{
 background-color:#d95347 !important;
  color: #fff !important;
   border-top-left-radius: 2px !important;
    border-top-right-radius: 0p !important;
     border-bottom-right-radius: 0px !important;
 border-bottom-left-radius: 2px !important;
 }
 .paginate_button.previous.disabled a{
 background-color:#ddd !important;
  color: #999 !important;
   border-top-left-radius: 2px !important;
     border-top-right-radius: 0px !important;
      border-bottom-right-radius: 0px !important; 
       border-bottom-left-radius: 2px !important;
 }
 .paginate_button.next.disabled a{
 background-color:#ddd !important;
  color: #999 !important;
   border-top-left-radius: 2px !important;
    border-top-right-radius: 0px !important; 
     border-bottom-right-radius: 0px !important;
      border-bottom-left-radius: 2px !important;
 }
 .paginate_button.active a{
 background-color:#666 !important;
  color: #fff !important;
  border:1px solid #666 !important;
 }
 .paginate_button{
 background-color:#ddd !important;
  color: #999 !important
 }
 .disabled a{
  background-color:#ddd !important;
  color: #999 !important
 }
/*  .search-form.search-form-expanded{
  width:230px !important;
  max-width:230px !important;
 } */
 
 .btn{
  padding:2px 12px !important;
 }


.table-striped>tbody>tr:nth-of-type(odd){
	background-color:#f5f5f5;
}
@media(min-width: 768px){
#loggedInDiv{
	padding-right:18px;
}
#dataTables-CustInfo td{
line-height:2 !important;
text-align: center;  
}
#dataTables-CustInfo_filter input[type='search'] {
	width:80% !important;
	margin-right:10px; 
}
}
@media(min-width: 992px){

#dataTables-CustInfo td{
line-height:2 !important;
text-align: center;  
}
#loggedInDiv{
	padding-right:0px;
}
#dataTables-CustInfo_filter input[type='search'] {
	width:80% !important;
	margin-right:10px; 
}
}

@media(min-width: 1200px){

#dataTables-CustInfo td{
line-height:2.5 !important; 
   text-align: center; 
   padding-left:10px;
   padding-right:10px;
   white-space:nowrap;
   verticle-align:middle; 
}
#loggedInDiv{
	padding-right:0px;
}
#dataTables-CustInfo_filter input[type='search'] {
	width:60% !important;
	margin-right:10px; 
}
}
#dataTables-CustInfo{
	padding-right:1px;
	width:auto !important;
}

#dataTables-CustInfo th{
border-left:1px solid #e5e5e5;
	border-top:1px solid #e5e5e5;
}

div#dataTables-CustInfo_paginate ul.pagination>li>a, div#dataTables-CustInfo_paginate ul.pagination>li>span{
	padding: 6px 8px !important;
}

div#dataTables-CustInfo_processing {
	background: none;
}
@media(min-width: 768px){
div#dataTables-CustInfo_paginate ul.pagination>li>a, div#dataTables-CustInfo_paginate ul.pagination>li>span{
	padding: 6px 4px !important;
}
#dataTables-CustInfo_info{
	font-size:12px;
}

}
#dataTables-CustInfo td:last-child{
	font-family: Helvetica;
	line-height: 1.7 !important;
	text-align: center;
	/* text-align: inherit;
	padding-left: 1%; */
	font-size: 13px;
	font-weight: bold;
	color: #444;
}
.FilterLbl{
	padding-left:10px !important;
    color: #fff;
    font-weight: 700 !important;
    font-size: 15px;
    font-family: Helvetica;
}
.notice {
    padding: 15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}
.notice-sm {
    padding: 10px;
    font-size: 90%;
    letter-spacing:.5px;
    color:#444;
    font-family:Helvetica;
}
.notice-lg {
    padding: 35px;
    font-size: large;
}
.notice-success {
    border-color: #80D651;
}
.notice-success>strong {
    color: #80D651;
}
.notice-info {
    border-color: #45ABCD;
}
.notice-info>strong {
    color: #45ABCD;
}
.notice-warning {
    border-color: black;
}
.notice-warning>strong {
    color: black;
}
.notice-danger {
    border-color: #d73814;
}
.notice-danger>strong {
    color: #d73814;
}
@media (min-width: 768px){

#dataTables-CustInfo.table>thead>tr>th{
 font-size:12px;
}
.custPnlBody{
  padding-left:0px;
  padding-right:0px;
 }
}

@media (min-width: 992px){
#dataTables-CustInfo.table>thead>tr>th{
 font-size:13px;
}
.custPnlBody{
  padding-left:0px;
  padding-right:0px;
 }
}

@media (min-width: 1200px){
#dataTables-CustInfo.table>thead>tr>th{
 font-size:13px;
}
.custPnlBody{
  padding-left:0px;
  padding-right:0px;
 }
}