<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="staplesSessionFactory">
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.password">C0ntractd3v</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@lscsdndbv03.staples.com:51521/CN00040</property>
        <property name="hibernate.connection.username">ORC01_OWN</property>
        <!-- <property name="hibernate.default_schema">DIV_ADMIN</property> -->
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
    </session-factory>
</hibernate-configuration>
